@using WebStoryDoc.Models
@model HomeModel
@{
    ViewBag.Title = Model.Title;
}

<div>
    @Html.ActionLink("Вывести список пользователей", "List", "User")
    <br />
    @Html.ActionLink("Вывести список документов", "Index", "Folder")
    <br />
    @Html.ActionLink("Отчет", "Index", "Report")
</div>

